.TA-Intro-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TA-Intro-Card {
  background-color: rgba(0, 0, 0, 0.253) !important;
  width: 700px !important;
  height: 200px;
}

.TA-Intro-Card-Header {
  margin-top: 10px !important;
  font-size: 1.5rem !important;
}

.TA-Intro-Card-Description {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 1.5rem !important;
  height: fit-content;
}

/* Player Card */
.Player-Card-Component-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 600px;
  height: 500px;
  font-family: "Anta", sans-serif !important;
}

/* The header content does not work without explicitly styling this */

h1 {
  font-family: "Anta", sans-serif !important;
}

.Player-Card-Container {
  display: flex;
  flex-direction: column;
}

.Player-Card-Buttons-Row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Player-Card {
  background-color: #23354d !important;
  width: 100% !important;
  height: 100% !important;
}

.ui.card {
  margin: 0 !important;
}

.Player-Header-Team-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Player-Card-Contents-Container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Headshot-Header-Container {
  display: flex;
  flex-direction: row;
}

.Player-Card-Headshot-Container {
  display: flex;
  align-items: center;
  width: 50%;
  height: 230px;
  margin: 10px;
  border: 1px solid white;
  box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.438);
}

.Player-Card-Input-Container {
  display: flex;
  margin-top: 20px;
}

.Player-Stats-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.Player-Stat-Card {
  background-color: #293b53 !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 30px;
  margin-top: 20px;
  border-radius: 2%;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.567);
}

.Player-Card-Button {
  background: transparent !important;
  color: white !important;
}

.Team-Analyzer-Container {
  width: 100% !important;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Player-Display-Container {
  border: 1px solid white;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Player-Box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.Player-Box-Image {
  width: 80px;
  height: 60px;
  border: 1px solid white;
}

.Team-Analyzer-Results-Modal-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  opacity: 0;
}

.Team-Analyzer-Results-Modal-Container.Unhide {
  opacity: 1;
}

/* Results Modal */
.ui.dimmer {
  background-color: black !important;
  opacity: 0.99 !important;
}
.ui.modal {
  border: 1px solid white !important;
  background: rgb(15, 15, 15) !important;
}

.ui.modal > h1 {
  background: rgb(15, 15, 15) !important;
  color: white !important;
  margin-bottom: 0;
}

.ui.modal > .content {
  background: rgb(15, 15, 15) !important;
  color: white !important;
}

.ui.modal > .actions {
  background: rgb(15, 15, 15) !important;
  color: white !important;
}

.Results-Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.Results-Category-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
}

.Results-Category-Header {
  margin-bottom: -20px;
}

.Results-Averages-Percentile-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 10px;
}

.Results-Averages-Container {
  display: flex;
  flex-direction: column;
}

.Results-Averages-Grid {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.Results-Averages-Column {
  display: flex;
  flex-direction: column;
}

.Percentile-Chart-Container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: -10px;
  margin-right: -30px;
}

.Percentile-Chart-Header {
  margin-bottom: -20px;
}

.Percentile-Digit-Display {
  width: 60px;
  position: absolute;
  top: 42%;
  left: 25%;
  text-align: center;
}
