.ui.card {
  margin: 0.3rem !important;
}

#Carousel-Card-Desktop {
  box-shadow: none !important;
}

.Carousel-Card {
  height: 3rem;
  width: 12rem !important;
  background: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: opacity 0.5s, transform 0.5s !important;
  color: white !important;
}

.Carousel-Card.Hide {
  opacity: 0 !important;
}

.Carousel-Button {
  background: none !important;
}

.Carousel-Button-Icon {
  color: white !important;
  opacity: 0.5 !important;
}
