a {
  color: white !important;
}

.ui.card {
  margin: 1rem !important;
}

.Vertical-Carousel-Container-Phone {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}

.Carousel-Card-Phone {
  height: 3rem;
  width: 12rem !important;
  background: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: opacity 0.5s, transform 0.5s !important;
}
