.typewriter-animation {
  display: inline-block;
  border-right: 2px solid white; /* Simulate cursor blinking */
  white-space: nowrap;
  color: white;
}

.Welcome-Container {
  position: relative;
  border-radius: 50%;
  background-color: #31363f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  opacity: 0;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  animation: fade-in-welcome 1s forwards;
}

.Welcome-Container.Desktop {
  width: 40rem;
  height: 40rem;
}

.Welcome-Container.Phone {
  width: 20rem;
  height: 20rem;
}

/* .Welcome-Container.Fade-In {
  opacity: 1;
  transition: opacity 1s ease-in-out;
} */

.Welcome-Button {
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-color: rgba(57, 58, 69, 0.6) !important;
  border-radius: 50% !important;
  color: white !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fade-in-welcome 1.2s forwards,
    welcome-buttons-glow 1.2s infinite alternate;
}

.Welcome-Login.Desktop {
  top: 15%;
  left: 20%;
}

.Welcome-Signup.Desktop {
  bottom: 15%;
  right: 20%;
}

.Welcome-Login.Phone {
  top: -40%;
  left: -10%;
}

.Welcome-Signup.Phone {
  bottom: -40%;
  right: -10%;
}

/* .Welcome-Login-Button.Fade-In {
  opacity: 1;
  transition: opacity 2s ease-in-out;
} */

/* 
.Welcome-Signup-Button.Fade-In {
  opacity: 1;
  transition: opacity 2s ease-in-out;
} */

.Hovered-Welcome-Button {
  background-color: #e3e6ec !important;
}

.Unhovered-Welcome-Button {
  animation: welcome-button-scale-down 1s forwards;
}

@keyframes fade-in-welcome {
  to {
    opacity: 1;
  }
}

@keyframes welcome-button-scale-up {
  to {
    transform: scale(1.5);
  }
}

@keyframes welcome-button-scale-down {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes welcome-buttons-glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}
