.welcome-buttons-container {
  height: 6rem;
}

.typewriter-animation {
  display: inline-block;
  border-right: 2px solid white; /* Simulate cursor blinking */
  white-space: nowrap;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fade-in-buttons 1s forwards;
}

@keyframes fade-in-buttons {
  to {
    opacity: 1;
  }
}

@keyframes fade-in-arrow {
  to {
    opacity: 1;
  }
}
