/* General */
.Typewriter-Cursor {
  border-right: 2px solid white; /* Simulate cursor blinking */
}

.Welcome-Screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
      to top,
      rgb(13, 20, 21) 8%,
      rgba(5, 14, 19, 0) 40%
    ),
    linear-gradient(
      to bottom,
      rgba(13, 20, 21, 0.473) 8%,
      rgba(5, 14, 19, 0) 40%
    );
  width: 100vw;
  height: 100%;
}

.Welcome-Screen-Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Welcome-Screen.Desktop {
  background: url("../../Images/Home/Welcome/Welcome_Georgia_Mountains2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.Welcome-Screen.Phone {
  background: url("../../Images/Home/Welcome/Welcome_Georgia_Mountains2.jpg");
  background-size: cover;
  background-position: left 55% bottom 0%;
  background-repeat: no-repeat;
  height: 100%;
}

.Welcome-Page {
  background-color: rgb(26, 24, 24);
  min-height: 94.1vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  height: auto;
}

.Welcome-Text-And-Carousel-Container.Phone {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
}

.Welcome-Text-And-Carousel-Container.Desktop {
  display: flex;
  align-items: center;
  margin-top: 10%;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
}

.Welcome-Text-Container.Desktop {
  height: 40%;
  margin-left: 80px;
}

.Welcome-Text-Container.Phone {
  height: 40%;
  margin-bottom: 20px;
}

.Welcome-Text {
  color: white !important;
  font-family: "Noto Sans JP", sans-serif !important;
  font-weight: 400 !important;
}

.Welcome-Text.Desktop {
  font-size: 7rem !important;
}

.Welcome-Text.Phone {
  font-size: 5rem !important;
  height: 90px;
}

.Welcome-Text.Phone.Sidebar-Visible {
  bottom: 71.3%;
}

.Welcome-Vertical-Carousel-Container {
  height: auto;
  width: auto;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
}

.Welcome-Vertical-Carousel-Container.Desktop {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.Welcome-VC-Header-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}

.Welcome-VC-Header-Container.Fade-In {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.Welcome-VC-Header {
  padding: 0.6em;
  margin-right: 3em;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.507);
}

.Welcome-VC-Header-Container-Phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  gap: 5%;
  margin-top: 9%;
}
.Welcome-VC-Header-Container-Phone.Fade-In {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.Welcome-VC-Header-Phone {
  padding: 20px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

.Welcome-Vertical-Carousel-Buttons-Ticker-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Welcome-Vertical-Carousel-Ticker {
  background-color: gray;
  width: 10rem;
  height: 1px;
  margin-bottom: 40px;
}

.Welcome-Vertical-Carousel-Buttons-Container {
  width: 60px;
  margin-bottom: 50px;
  margin-right: 0px;
}

.Welcome-Begin-Or-VC-Header-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  gap: 20px;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0;
}

.Welcome-Begin-Or-VC-Header-Container.Fade-In {
  opacity: 1;
  transition: opacity 2s ease-in-out, transform 0.5s ease-in-out;
}

.Welcome-Begin-Or-VC-Header-Container.Monitor {
  margin-top: 140px;
  align-items: flex-end;
}

.Welcome-Begin-Or-VC-Header-Container.Phone {
  margin-top: 250px;
  align-items: center;
}

.Welcome-Begin-Or-VC-Header-Container.Strictly-Desktop {
  margin-top: 25px;
}

.Welcome-Journey-Button {
  background: rgba(255, 255, 255, 0.07);
  color: white;
  border: 0.5px solid white;
  padding: 0.3em 0.5em;
  border-radius: 2em;
  font-size: 0.9em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 200;
  opacity: 0.7;
  margin-right: 3em;
}

.Welcome-Journey-Button.Phone {
  margin-right: 0em;
  font-size: 1.2em;
}

.Welcome-Journey-Button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}
