.Navbar-Container {
  height: 100vh !important;
}

.Navbar-Phone {
  background-color: #383c43 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-evenly;
  height: 100vh !important;
}
