.Stopwatch-Container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.473);
  padding: 3em;
  border-radius: 1em;
}

.Stopwatch-Display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  height: 1.2em;
  width: 6em;
}

.Stopwatch-Button-Container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.Stopwatch-Button {
  height: 4em;
  width: 10em;
}
