.fade-in-header {
  opacity: 0;
}

.fade-in-header.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-in-subheader {
  opacity: 0;
}

.fade-in-subheader.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.blog-card {
  opacity: 0;
  transform: scale(0.2);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.blog-card.pop-in {
  opacity: 1;
  transform: scale(1);
}
