/* General */
.ui.checkbox label {
  color: white !important;
}

.ui.form label {
  color: white !important;
  margin-left: 0.5rem !important;
  text-align: left !important;
}

.ui.form input {
  border-radius: 2rem !important;
}

.ui.form textarea {
  border-radius: 2rem !important;
  height: 3rem !important;
  resize: none !important;
}

/* TODO: Figure out why this has a dark hue */

/* .ui.button.disabled {
  background-color: red !important;
} */

/* Profile Photo button */
label.ui.basic.button {
  background-color: white !important;
  border-radius: 2rem 0 0 2rem !important;
  height: 2.75rem;
  margin: 0 0 0 0 !important;
}

.Profile-Photo-Cancel-Button {
  background-color: white !important;
  border-radius: 0 2rem 2rem 0 !important;
  max-width: 20%;
}

/*Profile Page  */
.User-Settings-Container {
  display: flex;
  gap: 300px;
}

.Edit-Profile-Container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Header-Preferences-Container {
  display: flex;
  flex-direction: column;
}

.Preferences-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.Preferences-Checkbox-Label {
  display: flex;
  gap: 20px;
}

.ui.toggle.checkbox {
  border: 1px solid white;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.11);
}

p {
  font-size: 1.2rem;
}

/* Sign Up */

.SignUp-Button {
  background-color: white !important;
  width: 25% !important;
  height: 3rem;
  border-radius: 2rem !important;
  color: black !important;
}

.Signup-Width-Desktop {
  width: 50%;
}

.Signup-File-Input-Button {
  cursor: pointer;
  color: white;
  display: flex !important;
  width: 100%;
  align-items: center;
}

/* Prevents forcing form elements into single row in phone screens  */
.ui.form .fields {
  flex-wrap: nowrap !important;
}

/* Login */

.Login-Button {
  background-color: white !important;
  width: 66% !important;
  height: 3rem;
  border-radius: 2rem !important;
  color: black !important;
}

.Login-Width-Desktop {
  width: 33%;
}

/* Login + Signup */

.Login-SignUp-Container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.User-Error-Message {
  position: fixed !important;
  bottom: 1rem;
  width: 66%;
  animation-duration: 0.5s;
  text-align: center;
  background-color: #383c43 !important;
  color: white !important;
  border-radius: 2rem !important;
}

.User-Fade-In-Up {
  animation-name: fadeInUp;
}

.User-Fade-Out-Down {
  animation-name: fadeOutDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0 !important;
    transform: translateY(20px) !important;
  }
  to {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  to {
    opacity: 0 !important;
    transform: translateY(20px) !important;
  }
}

/* Sign Up */

/* TODO: Fix loading problem */
/* .ui.loader {
  display: flex !important;
} */
