.FB-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  /* padding: 1rem; */
  /* box-sizing: border-box; */
  gap: 2rem;
  /* Gap between header and buttons*/
}

.FB-Header {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-top: 2rem;
}

.FB-Header.visible {
  opacity: 1;
  transform: translateY(0);
}

.FB-Button-Container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.FB-Button {
  background-color: rgba(15, 15, 15, 0.959) !important;
  height: 70px;
  width: 300px;
  font-size: 1.75rem !important;
  border: 0.1px solid white !important;
  box-shadow: 1px 1px 20px 10px rgb(0, 0, 0) !important;
  color: white !important;
}

.FB-Button.Inverted {
  background-color: rgba(80, 80, 80, 0.959) !important;
}

.Hub-Team-Analyzer {
  background: url("https://portfolioappmedia.blob.core.windows.net/fantasybasketballimages/NbaPlayers (1).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 40%;
  filter: brightness(80%) blur(0.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 10px black;
}

.Hub-Team-Analyzer.Hovered {
  filter: brightness(100%);
}

.Hub-Schedule-Analyzer {
  background: url("../../Images/FantasyBball/NbaSchedule-Mini.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  /* TODO: uncomment once coming-soon is removed */
  /* width: 40%; */
  filter: brightness(80%) blur(0.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 10px black;
}

.Hub-Schedule-Analyzer.Hovered {
  filter: brightness(100%);
}

/* TODO: remove once schedule analyzer is built  */

.Hub-Coming-Soon-Container {
  height: 600px;
  width: 40%;
  position: relative;
}

.Hub-Coming-Soon-Background {
  filter: grayscale(0.9) blur(3px) !important;
  z-index: 1;
}

.Hub-Coming-Soon-Overlay {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  height: 15%;
  font-size: 2em;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.471);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.9;
  padding: 1.2em;
  filter: none !important;
}
