.FB-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  /* padding: 1rem; */
  /* box-sizing: border-box; */
  gap: 3rem;
  /* Gap between header and buttons*/
}

.FB-Header {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin-top: 2rem;
}

.FB-Header.visible {
  opacity: 1;
  transform: translateY(0);
}

.FB-Button-Container {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.FB-Button {
  background-color: rgba(15, 15, 15, 0.959) !important;
  height: 70px;
  width: 300px;
  font-size: 1.75rem !important;
  border: 0.1px solid white !important;
  box-shadow: 1px 1px 20px 10px rgb(0, 0, 0) !important;
}

.FB-Button.Inverted {
  background-color: rgba(80, 80, 80, 0.959) !important;
}

.Hub-Team-Analyzer {
  background: url("../../Images/FantasyBball/NbaPlayers.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 40%;
  filter: brightness(80%) blur(0.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 10px black;
}

.Hub-Team-Analyzer.Hovered {
  filter: brightness(100%);
}

.Hub-Schedule-Analyzer {
  background: url("../../Images/FantasyBball/NbaSchedule.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 40%;
  filter: brightness(80%) blur(0.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 10px black;
}

.Hub-Schedule-Analyzer.Hovered {
  filter: brightness(100%);
}
