.Alarm-Container {
}

.Alarm-Input-Start-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Alarm-Display-Container {
  height: 7em;
  width: 14em;
  border: 1px solid rgba(255, 255, 255, 0.473);
  display: flex;
  justify-content: center;
}

.Alarm-Input {
  margin-top: 0.6em;
}

.Alarm-Input > input {
  background: rgba(255, 255, 255, 0.13) !important;
  color: white !important;
}

.Alarm-Time-Display {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
}
