.custom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.welcome-buttons-container {
  height: 6rem;
}

.typewriter-animation {
  display: inline-block;
  border-right: 2px solid white; /* Simulate cursor blinking */
  white-space: nowrap;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fade-in-buttons 1s forwards;
}

.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(57, 58, 69, 0.6);
  opacity: 0.5;
  animation: fade-in-arrow 1s forwards;
}

.arrow-container:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  animation: fade-in-glow 1s forwards;
}

/* Add a new CSS class for the "About Me" text */
.about-me-text {
  opacity: 0;
  margin-left: 10px; /* Adjust the margin as needed */
  transition: opacity 0.3s ease;
}

/* Animate the "About Me" text when the arrow container is hovered */
.arrow-container:hover .about-me-text {
  opacity: 1;
}

@keyframes fade-in-buttons {
  to {
    opacity: 1;
  }
}

@keyframes fade-in-arrow {
  to {
    opacity: 1;
  }
}

@keyframes fade-in-glow {
  to {
    opacity: 1;
  }
}
