.arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(57, 58, 69, 0.6);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  animation: fade-in-arrow 1s forwards, box-glow 1.2s infinite alternate;
}

.arrow-container.below {
  bottom: 0;
}

.arrow-container.above {
  top: 0;
}

.on-render-arrow-opacity {
  opacity: 0;
}

.hovered-arrow {
  opacity: 1;
  animation: arrow-scale-up 1s forwards;
}

.Unhovered-arrow {
  animation: arrow-scale-down 1s forwards;
}

@keyframes arrow-scale-down {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes arrow-scale-up {
  to {
    transform: scale(1.5);
  }
}

@keyframes fade-in-arrow {
  to {
    opacity: 1;
  }
}

@keyframes box-glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  }
}
