.Home-Page {
  color: white !important;
  font-size: calc(10px + 2vmin);
}

.Welcome-Screen,
.Coding-Screen,
.Medicine-Screen,
.Tutoring-Screen {
  position: relative;
  display: flex !important;
  height: 99vh; /* Fixes gap due as a result of blur filter*/
  justify-content: center;
  align-items: center;
}

.Coding-Content,
.Medicine-Content,
.Tutoring-Content {
  position: relative;
  z-index: 1;
}

/* Welcome screen */

.Welcome-Screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
      to top,
      rgb(13, 20, 21) 8%,
      rgba(5, 14, 19, 0) 40%
    ),
    linear-gradient(
      to bottom,
      rgba(13, 20, 21, 0.473) 8%,
      rgba(5, 14, 19, 0) 40%
    );
  width: 100vw;
  height: 100vh;
}

.Welcome-Screen.Desktop {
  background: url("../Images/Home/Welcome/Welcome_Georgia_Mountains2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Welcome-Screen.Phone {
  background: url("../Images/Home/Welcome/Welcome_Georgia_Mountains2.jpg");
  background-size: cover;
  background-position: left 55% bottom 0%;
  background-repeat: no-repeat;
}

/* Coding */

.Coding-Screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1 !important;
  /* Lower z-index compared to .Coding-Blur */
  background: linear-gradient(
      to bottom,
      rgb(7, 22, 31) 8%,
      rgba(5, 14, 19, 0) 40%
    ),
    linear-gradient(to top, rgb(6, 21, 31) 2%, rgba(25, 136, 196, 0) 50%);
  width: 100vw;
  height: 100vh;
}

.Coding-Screen.Desktop {
  background: url("../Images/Home/Coding/Coding12.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Coding-Screen.Phone {
  background: url("../Images/Home/Coding/Coding12.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: left 30% bottom 0%;
  background-repeat: no-repeat;
}

/* Medicine */

.Medicine-Screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: linear-gradient(
      to bottom,
      rgb(6, 19, 31) 1%,
      rgba(8, 20, 27, 0) 20%
    ),
    linear-gradient(to top, rgb(7.5, 15, 26) 2%, rgba(8, 20, 27, 0) 40%);
}

.Medicine-Screen.Desktop {
  background: url("../Images/Home/Medicine/Medicine26.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Medicine-Screen.Phone {
  background: url("../Images/Home/Medicine/Medicine26.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: left 0% bottom 0%;
  background-repeat: no-repeat;
}

/* Tutoring */

.Tutoring-Screen {
  height: 100vh;
}

.Tutoring-Screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: linear-gradient(
    to bottom,
    rgb(6, 15, 26) 2%,
    rgba(8, 20, 27, 0) 40%
  );
}

.Tutoring-Screen.Desktop {
  background: url("../Images/Home/Tutoring/Tutoring9.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Tutoring-Screen.Phone {
  background: url("../Images/Home/Tutoring/Tutoring9.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: left 8% bottom 0%;
  background-repeat: no-repeat;
}
