.Topbar-Desktop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent !important;
}

.Profile-Message {
  color: white !important;
  margin: 0px 10px 0px 0px !important;
}
