/* Prevents menu buttons from changing background upon hover */
.ui.menu a.item:hover {
  background-color: initial !important;
}

/* Removes faint dark line between MenuItem components */
.ui.menu .item:before {
  background: none !important;
}

.Topbar-Desktop {
  position: absolute;
  top: 0;
  left: 15%;
  right: 0;
  background-color: transparent !important;
  z-index: 1;
  width: 70%;
}

#Topbar-Bottom-Border {
  border-bottom: 1px solid #ccc !important;
}

.Topbar-Desktop-Options {
  width: 70%;
  justify-content: space-evenly;
  margin-left: 10px !important;
  margin-right: -10px !important;
}

.Topbar-Desktop-Logo-Text {
  font-family: "Noto Sans JP", sans-serif !important;
  font-weight: 400 !important;
  color: white !important;
  margin-left: -1rem !important;
}

.Topbar-Desktop-Button {
  background-color: transparent !important;
  color: white !important;
  font-size: 1.1rem !important;
  position: relative;
  font-family: "Noto Sans JP", sans-serif !important;
  font-weight: 200 !important;
}

.Topbar-Desktop-Selection-Bar {
  position: absolute !important;
  top: 54px !important;
  left: 265px;
  width: 100px;
  height: 0.7px;
  background-color: rgba(255, 0, 0, 0.6);
  transition: transform 0.5s ease;
}

.Topbar-Desktop-Selection-Bar.Home {
  transform: translateX(0%);
}

.Topbar-Desktop-Selection-Bar.Blog {
  transform: translateX(165%);
}

.Topbar-Desktop-Selection-Bar.Projects {
  transform: translateX(330%);
}

.Topbar-Desktop-Selection-Bar.Forum {
  transform: translateX(500%);
}

.Topbar-Desktop-Selection-Bar.Contact {
  transform: translateX(685%);
}

.Topbar-Desktop-Selection-Bar.Login {
  transform: translateX(845%);
}

.Topbar-Desktop-Selection-Bar.Signup {
  transform: translateX(970%);
}

.Topbar-Desktop-User-Buttons {
  background-color: white !important;
  height: 2rem;
  width: 5rem;
  border-radius: 2rem !important;
  color: black !important;
  font-size: 0.75rem !important;
}
