.Medicine-Screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: linear-gradient(
      to bottom,
      rgb(6, 19, 31) 1%,
      rgba(8, 20, 27, 0) 20%
    ),
    linear-gradient(to top, rgb(7.5, 15, 26) 2%, rgba(8, 20, 27, 0) 40%);
}

.Medicine-Screen.Desktop {
  background: url("../../Images/Home/Medicine/Background/Medicine26.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Medicine-Screen.Phone {
  background: url("../../Images/Home/Medicine/Background/Medicine26.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: left 0% bottom 0%;
  background-repeat: no-repeat;
}

.Medicine-Headers-Container {
  display: flex;
  flex-direction: column;
  z-index: inherit;
  align-items: center;
  height: 30vh;
  margin-top: 100px;
}

.Medicine-Header {
  font-size: 5rem;
  font-weight: 300;
}

.Medicine-Subheader-One {
  font-size: 3rem;
  font-weight: 200;
  opacity: 0.75;
  margin-top: 50px;
}

.Medicine-Subheader-Two {
  font-size: 2rem;
  font-weight: 100;
  opacity: 0.6;
  margin-top: 30px;
}

.Medicine-Cards-Buttons-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 65vh;
  width: 100vw;
  z-index: 1;
  background-color: none;
  margin-top: -200px;
}

.Medicine-Card {
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 25%;
}

.Medicine-Card.Even {
  margin-top: 100px;
}

.Medicine-Card-Image {
  width: 100%;
  border-radius: 10px;
  height: 300px;
}

.Medicine-Card-Header {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.2em;
  padding: 10px;
}

.Medicine-Card-Button {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.Medicine-Card-Button:hover {
  cursor: pointer;
}

.Medicine-Card-Button.Disabled {
  background-color: rgba(128, 128, 128, 0.25);
  opacity: 0.5;
  pointer-events: none;
}

.Medicine-Card-Text {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.85);
  padding: 20px;
}

.Medicine-Card-Tech {
  font-size: 1.4rem;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.03);
}
