.Medicine-Screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.05) 80%
    ),
    linear-gradient(to top, rgb(7.5, 15, 26) 2%, rgba(8, 20, 27, 0) 40%);
}

.Medicine-Screen.Desktop {
  background: url("../../Images/Home/Medicine/Background/Medicine26.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.Medicine-Screen.Phone {
  background: url("../../Images/Home/Medicine/Background/Medicine26.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: left 0% bottom 0%;
  background-repeat: no-repeat;
  height: 100%;
}

.Medicine-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.Medicine-Content.Phone {
  /* gap: 20px; */
}

.Medicine-Header-Container {
  display: flex;
  flex-direction: column;
  z-index: inherit;
  align-items: center;
  justify-content: end;
  height: 35vh;
  width: 100vw;
  gap: 10px;
  opacity: 0;
  margin-bottom: 25px;
}

.Medicine-Header-Container.Phone {
  gap: 15px;
  width: 100vw;
  height: 40vh;
}

.Medicine-Header-Container.Fade-In {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.Medicine-Header-Primary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  font-size: 5rem;
  font-weight: 300;
  width: 30%;
}

.Medicine-Header-Secondary.Desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30%;
  font-size: 1.75rem;
  font-weight: 200;
  padding: 10px;
  line-height: 1.2;
  width: 50%;
  opacity: 0.75;
}

.Medicine-Header-Secondary.Phone {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40%;
  font-weight: 200;
  padding: 10px;
  line-height: 1.2;
  opacity: 0.75;
  font-size: 1.5rem;
  width: 75%;
}

.Medicine-Cards-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 200px;
  height: 90vh;
  width: 100vw;
  z-index: inherit;
  background-color: none;
}

.Medicine-Card-Buttons-Container-Phone {
  display: flex;
  height: 57vh;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  width: 100vw;
  z-index: inherit;
  background-color: none;
  opacity: 0;
  gap: 5px;
}

.Medicine-Card-Buttons-Container-Phone.Fade-In {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.Medicine-PhoneCard-Button {
  margin-top: 35%;
  height: 100px;
  width: 20%;
  z-index: 1;
}

.Medicine-PhoneCard-Button:hover {
  cursor: pointer;
}

.Medicine-PhoneCard-Button.Disabled {
  opacity: 0.5;
  pointer-events: none;
}

.Medicine-Card {
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  width: 15%;
  height: fit-content;
  opacity: 0;
}

.Medicine-Card.Phone {
  width: 50%;
  opacity: 1;
}

.Medicine-Card.Fade-In {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.Medicine-Card.Even {
  margin-top: 0px;
}

.Medicine-Card.Odd {
  margin-top: 30px;
}

.Medicine-Card-Image {
  width: 100%;
  border-radius: 10px;
  max-height: 300px;
}

.Medicine-Card-Header {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1;
}

.Medicine-Card-Text {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.85);
  padding: 20px;
}
