.Coding-Screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1 !important;
  /* Lower z-index compared to .Coding-Blur */
  background: linear-gradient(
      to bottom,
      rgb(7, 22, 31) 8%,
      rgba(5, 14, 19, 0) 40%
    ),
    linear-gradient(to top, rgb(6, 21, 31) 2%, rgba(25, 136, 196, 0) 50%);
  width: 100vw;
  height: 100vh;
}

.Coding-Screen.Desktop {
  background: url("../../Images/Home/Coding/Background/Coding12.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Coding-Screen.Phone {
  background: url("../../Images/Home/Coding/Background/Coding12.jpeg");
  filter: blur(0px) grayscale(20%) hue-rotate(-10deg) brightness(90%) sepia(0.4);
  background-size: cover;
  background-position: left 30% bottom 0%;
  background-repeat: no-repeat;
}

.Coding-Content {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  height: 100%;
  align-items: center;
}

.Coding-Header {
  display: flex;
  flex-direction: column;
  z-index: inherit;
  align-items: center;
  height: 10vh;
  width: 100vw;
  margin-top: 100px;
  font-size: 5rem;
  font-weight: 300;
}

.Coding-Cards-Buttons-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  width: 100vw;
  z-index: inherit;
  background-color: none;
  gap: 60px;
}

.Coding-Cards-Container {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 200px;
}

.Coding-Buttons-Container {
  display: flex;
}

.Coding-Card {
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  width: 22%;
  height: fit-content;
}

.Coding-Card.Even {
  margin-top: 0px;
}

.Coding-Card.Odd {
  margin-top: 30px;
}

.Coding-Card-Image {
  width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.Coding-Card-Header {
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.1em;
  padding: 10px;
}

.Coding-Card-Button {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.Coding-Card-Button:hover {
  cursor: pointer;
}

.Coding-Card-Button.Disabled {
  background-color: rgba(128, 128, 128, 0.25);
  opacity: 0.5;
  pointer-events: none;
}

.Coding-Card-Text {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.85);
  padding: 20px;
}
