/* General */
.ui.dimmer {
  opacity: 0.95 !important;
}

.Loading-Display-Container {
  background: #292d35;
  color: white;
  height: 100vh;
}

/* Display */

/* Some properties on here = important for loading screen */
.Display-Page {
  background: #161a20;
  background-repeat: repeat-y;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  opacity: 0;
  gap: 2em;
}

.Forum-Card {
  background: #20252d;
  width: 30em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em 1em 1em;
  overflow-y: hidden;
  border-radius: 5%;
}

.Display-Page-Overflow {
  background-color: #0000008e;
  height: 100vh !important;
}

.Display-Page.Fade-In {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.ForumPage-Headers-Container-Container {
  height: 80%;
  margin-top: 8em;
}

.ForumPage-Headers-Container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ForumPage-Display {
  height: 13%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.ForumPage-Display-Header {
  color: #fff;
  font-weight: bold;
  text-align: center;
  height: 1.5em;
  z-index: 1;
  font-size: 4rem;
}

.ForumPage-Display-Header.Phone {
  font-size: 3rem;
}

.ForumPage-Display-Subheader {
  color: #fff;
  font-weight: 400;
  text-align: center;
  height: 1em;
  opacity: 0.7;
  font-size: 3rem;
}

.ForumPage-Display-Subheader.Phone {
  font-size: 2rem;
}

.ForumPage-Display-Error-Text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.ForumPage-Display-Error-Text.Desktop {
  font-size: 4rem;
}

.ForumPage-Display-Error-Text.Phone {
  font-size: 3rem;
}

.ForumPage-Display-Error-Subtext {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
}

.ForumPage-Display-Error-Subtext.Desktop {
  font-size: 2rem;
}

.ForumPage-Display-Error-Subtext.Phone {
  font-size: 1.5rem;
}

.ForumPage-Display-Button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.ForumPage-Error-Button {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

/* Forum  */

.Forum-Container {
  height: 1fr;
  margin-bottom: 2em;
}

.Forum-Grid-Desktop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
}

.Forum-Grid-Phone {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* ProfileCard */

/* .Forum-Card {
  background-color: rgba(0, 0, 0, 0.6);
  width: 30em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em 1em 1em;
  overflow-y: scroll;
} */

.Forum-Card-Image {
  height: 4em;
  width: 4em;
  border-radius: 50%;
}

.Prompt-Forum-Card-Image {
  margin-top: 15px;
}

.Forum-Card-Top-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Forum-Card-Image-Header-Container {
  display: flex;
  flex-direction: row;
}

.Prompt-Forum-Card-Image-Header-Container {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.Forum-Card-ProfileImage-Name-Container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.Forum-Card-ProfileImage-Name-Date-ReadMore-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding: 0.5em;
  gap: 10px;
}

.Forum-Card-Name-Date-Container {
  display: flex;
  flex-direction: column;
}

/* Post */
.Post-Buttons-Container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Post-Title-Text-Image-Container {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100%;
}

.Post-Text-Image-Container {
  display: flex;
  justify-content: flex-start;
  border: 0.5px solid rgba(255, 255, 255, 0.26);
  padding: 0.5em;
}

.Post-Title-Text-Container {
  padding: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.Post-Description-Container {
  line-height: 1.4;
  padding: 0.5em;
}

.Post-Image-Container {
  display: flex;
  justify-content: center;
  position: relative;
}

.Post-Image {
  width: 100%;
  border-radius: 5%;
}

/* Skeleton loader animation */
@keyframes fade {
  0% {
    background-color: #161a20;
  }
  50% {
    background-color: #161a207e;
  }
  100% {
    background-color: #161a20fc;
  }
}

.Post-Image-Skeleton {
  width: 100%;
  height: 250px;
  background-color: #e0e0e0;
  animation: fade 1.8s infinite ease-in-out;
  border-radius: 5%;
}

.Post-Image.loading {
  opacity: 0;
  position: absolute; /* prevents image from taking space while invisible */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Post-Image.loaded {
  opacity: 1;
  transition: opacity 0.5s ease-in; /* Increase the duration for a gentler fade */
}

.Post-Arrow-Button {
  background: none !important;
  color: white !important;
}

.Placeholder-Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 6%;
}

.Read-More-Button-Container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Read-More-Button {
  width: 90%;
  padding: 0.5em;
}

.Comments-Button {
  background: none !important;
  color: white !important;
  font-family: "Noto Sans JP", sans-serif !important;
  font-weight: 200 !important;
  font-size: 1em !important;
  height: 20px;
}

.Comments-Button:hover {
  background: rgba(255, 255, 255, 0.089) !important;
}

.Comments-Button-Text {
  margin-top: -10px;
}
