/* Some properties = important for loading screen */
.Display-Page {
  background-color: #282c34;
  min-height: 94.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Forum-Error-Page {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Forum-Loading-Icon {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Hide-Display {
  display: none;
}

.Hide-Forum {
  display: none;
}

/* Overflow = prevents part of display screen from persisting upon scrollDown */
.Forum-Page {
  background-color: #282c34;
  min-height: 100vh;
  overflow: hidden;
}

.Forum-Card {
  background-color: #5a5c5f !important;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.2) !important;
}

.forum-display-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}
.forum-display-subtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
}

.forum-display-button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.fade-in-display {
  opacity: 0 !important;
}

.fade-in-display.fade-in {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out !important;
}

.forum-card-left-arrow-button {
  position: absolute;
  width: 20px;
  top: 0;
  left: 0;
  bottom: 0;
}

.forum-card-right-arrow-button {
  position: absolute;
  width: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(591%);
}
