/* General */
.Error-Modal {
  background-color: #383c43 !important;
  color: white !important;
  text-align: center !important;
}

.ui.dimmer {
  opacity: 0.95 !important;
}

/* Display */

/* Some properties on here = important for loading screen */
.Display-Page {
  background-color: #282c34 !important;
  min-height: 94.1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* TODO: Remove these? They aren't being used anywhere */

/* .Forum-Error-Page {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .Forum-Loading-Icon {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.ForumPage-Display-Text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.ForumPage-Display-Subtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
}

.ForumPage-Display-Button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.ForumPage-Display-FadeIn {
  opacity: 0 !important;
}

.ForumPage-Display-FadeIn.activate {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out !important;
}

/* Forum  */

/* Overflow = prevents part of display screen from persisting upon scrollDown */
.Forum-Page {
  background-color: #282c34;
  min-height: 100vh;
  overflow: hidden;
}

/* ProfileCard */

.Forum-Card {
  background-color: #5a5c5f !important;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.2) !important;
}

.Forum-Card-Left-Arrow-Button {
  position: absolute;
  width: 20px;
  top: 0;
  left: 0;
  bottom: 0;
}

.Forum-Card-Right-Arrow-Button {
  position: absolute;
  width: 20px;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(591%);
}

/* Post */

.Post-Card {
  color: black;
  font-size: 1rem;
}

.Post-Left-Arrow-Button {
  position: absolute;
  width: 20px !important;
  top: 0;
  left: 0;
  bottom: 0;
}

.Post-Right-Arrow-Button {
  position: absolute;
  width: 20px !important;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(530%);
  border-radius: 0.28571429rem !important;
}
