.post-left-arrow-button {
  position: absolute;
  width: 20px !important;
  top: 0;
  left: 0;
  bottom: 0;
}

.post-right-arrow-button {
  position: absolute;
  width: 20px !important;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(530%);
  border-radius: 0.28571429rem !important;
}
