.Navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #383c43;
  color: white;
}

.Default-Page {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Projects -> Calculator */

.Display {
  background-color: white;
  color: black;
}

/* Projects -> Clocks -> CountDown */

.SW > .Display {
  background-color: white;
  color: black;
}
