.Kronos-Page {
  background-color: #282c34;
  min-height: 94.1vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.Kronos-Prev-Next-Container {
  height: 1.3em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
