.Projects-Page {
  background: url("../Images/Projects/MeasuringTools-Blurred-Mini.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  filter: brightness(0.8);
  color: white;
  height: 100vh;
}

.Projects-Page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
      to top,
      rgb(13, 20, 21) 0%,
      rgba(5, 14, 19, 0) 50%
    ),
    linear-gradient(
      to bottom,
      rgba(13, 20, 21, 0.473) 8%,
      rgba(5, 14, 19, 0) 80%
    );
  width: 100vw;
  height: 100vh;
}

.Projects-Container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5%;
  z-index: 1;
  height: 80%;
  justify-content: center;
}

.Projects-Container.Phone {
  height: 100%;
  flex-direction: column;
  justify-content: start;
  margin-top: 20%;
}

.Projects-Title-Description-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2.5%;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 1%;
  text-align: center;
  height: 50%;
  width: 50%;
}

.Projects-Title-Description-Container.Phone {
  height: 45%;
  width: 90%;
}

.Projects-Project-Title {
  font-size: 5em;
  font-weight: 400;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.Projects-Project-Title.Phone {
  font-size: 2.5em;
  font-weight: 300;
  height: 20%;
}

.Projects-Project-Description {
  font-size: 1.5em;
  line-height: 1.2;
  padding: 1em;
  height: 7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Projects-Project-Button {
  background-color: rgba(128, 128, 128, 0.2) !important;
  font-size: 1.5em !important;
  color: white !important;
}

.Projects-Images-Container-Desktop {
  display: flex;
  justify-content: space-between;
  height: 50%;
  gap: 1em;
  margin-right: 2%;
  width: 50%;
}

.Projects-Images-Container-Phone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 50%;
  gap: 1em;
}

.Projects-Image {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 4%;
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
  filter: grayscale(0.7);
}

.Projects-Image-Disabled {
  filter: grayscale(0.7) blur(0.75px);
  width: 100%;
  height: 100%;
  border-radius: 4%;
}

.Projects-Image:hover {
  cursor: pointer;
}

.Projects-Image-Disabled:hover {
  cursor: auto !important;
}

.Projects-CS-Overlay {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
  height: 15%;
  font-size: 2em;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.471);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0.9;
  padding: 1.2em;
}

.Projects-Selected-Card {
  filter: grayscale(0);
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.832) !important;
}
